.user {
  width: 891px;
  margin: 0 auto;
  padding: 0;
}

/* Стиль для главного меню */
.mainmenu {
  position: relative;
  margin: 0;
  border-radius: 5px 5px 0 0;
  background-color: #282830;
  color: #fff;
  padding: 10px 20px;
}
.mainmenu h1 {
  display: inline-block;
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
.mainmenu .owner {
  display: inline-block;
  margin-left: 260px;
  cursor: pointer;
}
.mainmenu h1:hover, .mainmenu .owner:hover {
  color: darkseagreen;
}

/* Стиль тела страницы */
.bodycontainer {
  margin: 0;
  background-color: white;
}

/* Стиль для окна чата*/
.chat {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  width: 460px;
  text-align: left;
  border: 1px solid gray;
}
.chat #chatData {
  border-bottom: 1px solid gray;
  height: 400px;
  margin-bottom: 5px;
  overflow: auto;
}
.chat #chatData td {
  width: 300px;
}
.chat #chatData th {
  vertical-align: top;
  cursor: pointer;
}
.chat #chatData th:hover {
  background-color: #198d98;
  color: white;
}
#sendMessage tr, #sendMessage td {
  padding-left: 15px;
}
.chat input[type="submit"] {
  width: 100px;
  height: 102px;
}
.chat textarea {
  overflow: auto;
}


/* Ссылки в чате */
.chat a {
  text-decoration: none;
  color: #19469D;
}

.chat a:visited {
  color: #19469D;
}

.chat a:hover {
  color: #198d98;
}

/* Аватар пользователя*/
.avatar {
  margin: 0 25px 20px 0px;
  width: 350px;
  padding-top: 15px;
  padding-left: 20px;
}
.avatar img {
  margin-bottom: 5px;
  width: 300px;
  height: 250px;
  border: 1px solid gray;
}
.avatar img:hover {
  border: 1px solid darkseagreen;
  cursor: pointer;
}
.avatar p {
  margin: 5px 0;
}
.choosePicture {
  display: none;
}

/* Описание данных пользователя*/
.userdata {
  margin: 0;
  display: inline-block;
  padding-left: 20px;
  padding-bottom: 150px;
}

.userName {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 35px;
  clear: both;
}

.userdata .editProfile {
	float: right;
    width: 25px;
    height: 25px;
    background-image: url(../images/user-edit.png);
    cursor: pointer;
}
.userdata .editProfile:hover {
  background-color: #dcdcdc;
}
.userdata .editProfile:active {
  background-color: #bbbbbb;
}

.saveProfile, .cancelEditProfile {
  float: right;
  display: none;
  margin-left: 5px;
  margin-top: 10px;
}

.userdata.edit  .saveProfile, .userdata.edit  .cancelEditProfile {
	display: block;
}
