.user {
  width: 1024px;
  margin: 0 auto;
  padding: 0;
}

.mainheader {
  text-align: start;
}

.bodycontainer {
  margin: 0;
  background-color: white;
}

/* Стиль для окна чата*/
.chat {
  float: right;
  margin-top: 15px;
  margin-right: 50px;
  width: 570px;
  text-align: left;
  border: 1px solid gray;
}
.chat #chatData {
  border-bottom: 1px solid gray;
  height: 400px;
  margin-bottom: 5px;
  overflow: auto;
}
#sendMessage tr, #sendMessage td {
  padding-left: 15px;
}
.chat input[type="submit"] {
  width: 100px;
  height: 102px;
}
.chat textarea {
  overflow: auto;
}
.chat #chatData td {
  width: 400px;
}
.chat #chatData th {
  vertical-align: top;
}

/* Описание данных пользователя*/
.userdata {
  margin: 0;
  padding-left: 50px;
  padding-bottom: 150px;
}

/* Аватар пользователя*/
.avatar {
  margin: 0 25px 20px 25px;
  width: 350px;
  padding-top: 15px;
  padding-left: 20px;
}
.avatar img {
  margin-bottom: 5px;
  width: 300px;
  height: 250px;
  border: 1px solid gray;
}
.avatar img:hover {
  border: 1px solid darkseagreen;
  cursor: pointer;
}
.avatar p {
  margin: 5px 0;
}
.choosePicture {
  display: none;
}

.userName {
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 35px;
}